[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/

!bin/Release/
!bin/Debug/
!publish/

*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

.vs/
*.vspscc
*.vssscc

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml

*.log
[Ll]og/
[Ll]ogs/
!productservice.log
!application.log

project.lock.json
project.fragment.lock.json

*.tmp
*.tmp_proj
*_wpftmp.csproj
*.tlog

.vscode/
*.code-workspace
.idea/
*.sln.iml

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.template
!.env.example

*.pfx
*.publishsettings
!appspec.yml
!buildspec.yml

coverage*.json
coverage*.xml
coverage*.info

*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

!scripts/
!deployment/
!.github/
!azure-pipelines.yml
!Dockerfile
!docker-compose.yml